<div class="container">
    <div class="row">
        <div class="col-2">
            <a class="btn btn-secondary" routerLink="/home" routerLinkActive="active">Home</a>
        </div>
        <div class="col-10">
            <h3>
                Heyo Contest Setup
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <form>
                <h4>Please select the type of contest you would like to setup:</h4>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="contestTypeRadios" id="contestTypeRadios1" value="dinnerForTwo" checked> Dinner for Two &amp; Dessert
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="contestTypeRadios" id="contestTypeRadios2" value="wholePie"> Whole Pie
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="contestTypeRadios" id="contestTypeRadios3" value="strawberryPie"> Strawberry Pie
                    </label>
                </div>
                <div class="mt-4">
                    <h4>Select the day when the contest will end:</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" id="contestEndDate" aria-describedby="contestEndDateHelp" placeholder="Contest end date">
                        <small id="contestEndDateHelp" class="form-text text-muted">Enter the contest end date in the format MM/DD/YYYY</small>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" (click)="setupContest()">Setup The Contest</button>
            </form>
        </div>
    </div>

</div>